header{
    width: 99vw;
    height: 80px;
    background-color: rgb(230, 137, 191);
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
}
header ul li{
    display: flex;
    list-style: none;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
header ul li a,header a{
    color: rgb(255, 255, 255);
    padding:5px;
    text-decoration: none;
}
header ul li a:hover,header a:hover{
    color: rgb(237, 232, 232);
}