@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Lora';
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.titulo-lista {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}

.container-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.produto-item {
  background-color: #f9f9f9;
  border: 1px solid #7a7777;
  border-radius: 10px;
  padding: 20px;
  max-width: 250px;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto-item:hover {
  transform: scale(1.05);
}

.produto-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.produto-item h1 {
  font-size: 30px;
  color: #000000;
}

.produto-item p {
  font-size: 15px;
  color: #000000;
}

.produto-item button {
  background-color: rgb(230, 137, 191);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.produto-item button:hover {
  background-color: #f13ac4;
}

.produto-item a {
  display: inline-block;
  margin-top: 10px;
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.produto-item a:hover {
  text-decoration: underline;
}

.container-produtos {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.produto-item {
  background-color: #ffffff;
  border: 1px solid #7a7777;
  border-radius: 10px;
  padding: 15px;
  max-width: 250px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto-item h1 {
  font-size: 30px;
  color: #000000;
}

.produto-item p {
  font-size: 15px;
  color: #000000;
}